.container{
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
.dashboard-body{
    background-color: #f3f4f4;
    // background-color: transparent;
}
.title{
    display: flex;
    align-self: flex-start;
    font-size: x-small;
    color: $card-blue;
}
.numbers{
    margin-top: 5px;
    display: flex;
    align-self: flex-start;
    font-size: small;
    color: $card-blue;
}
.card-view{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.table-view{
    margin-top: 3rem;
    // width: 15rem;
    background-color: $primary-white;
}
@media(min-width: 600px){
    .container{
        margin-top: 8rem;
        margin-left: 16rem;
        max-width: 67.0625rem;
        // background-color: transparent;
    }
    .card-view{
        display: flex;
        flex-direction: row;
        row-gap: 10px;
    }
}