.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto; /* Center the item horizontally */
  }
  
  .grid-item1 {
    margin: 70px auto; /* Center the item horizontally */
    background-color: #fffffff6;
    border-right: #ffffffd0;
    padding: 20px;
    text-align: center;
  }
  .grid-item {
    margin: 70px auto; /* Center the item horizontally */
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .grid-item-hid{
    display: none;
  }
  @media (min-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
      margin-top: 50px;
    }
    .grid-item{
      width: 70%;
    }
    .grid-item-hid{
      display: block;
    }
  }
  